<p>All my plans are published under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
        Attribution-NonCommercial-ShareAlike</a> license.</p>

<blockquote>
    <p>You are free:</p>
    <ul>
        <li><em>to Share</em> &mdash; copy and redistribute the material in any medium or format</li>
        <li><em>to Adapt</em> &mdash; remix, transform, and build upon the material</li>
    </ul>
</blockquote>

<blockquote>
    <p>Under the following conditions:</p>
    <ul>
        <li><em>Attribution.</em> &mdash; You must give appropriate credit, provide a link to the license, and indicate
            if
            changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor
            endorses you or your use.</li>
        <li><em>NonCommercial.</em> &mdash; You may not use the material for commercial purposes.</li>
        <li><em>ShareAlike.</em> &mdash; If you remix, transform, or build upon the material, you must distribute your
            contributions under the same license as the original.</li>
    </ul>
</blockquote>

<p>In plain English this means that</p>

<ul>
    <li>you are free to download my plans and build airplane models from them</li>
    <li>you may not use my plans for commercial purposes</li>
    <li>if you make any changes to the plans and want to publish or share your version you have to
        <ul>
            <li>attribute me as the original designer with a link to this web site</li>
            <li>release your version under the same or similar license to this one</li>
        </ul>
    </li>
</ul>
