---
---

@import "{{ site.theme }}";

//#sidebar {
//  display: none !important;
//}

aside#models {
    float: right;
    width: 200px;
    min-height: 504px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 1.3;
    background:transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat
}

dl dd {
    font-weight: 250 !important;
}
